*{
    box-sizing: border-box;
}
body{
   background-color: #F2F2F2; 
}
.container{
   background-color: #00A1C60D;
   width: 1920px;
   height: 960px;
}
.block{
    position: relative;
    top: 142px;
    left: 350px;

}
.title{
    color: #2D3640;
    width: 995px;
    height: 80px;
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
   font-style: normal;
}
h1::after{
    content: "On The Planet";
    color: #2D3640;
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;

}
.text:hover {
    text-decoration: underline blue;
}
.text-information:hover {
    text-decoration: underline blue;
}
.information{
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;

}
.information{
    color: #2B292D;
    width: 695px;
    height: 80px;
}

.box-items{
    padding: 0 2px;   
    display: inline-block; 
}
.box{
    width: 295px;
    height: 470px;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 20px;
    position: relative;
    bottom: 134px;
}
.box-second{
    width: 295px;
    height: 470px;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 20px;
    position: relative;
    bottom: 27px;
}

.box-third{
    width: 295px;
    height: 470px;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 20px;
    position: relative;
    bottom: 81px;
}
.box-fourth{
    width: 295px;
    height: 470px;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 20px;
    position: relative;
    bottom: 83px;
}

.photo{
    width: 120px;
    height: 120px;
    margin-left: 85px;
    position: relative;
    top: 56px;
}
.name{
    position: relative;
    top: 50px;
    font-family: "Catamaran", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}
span{
    position: relative;
    top: 18px;
    left: 84px;
    font-family: "Catamaran", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
} 
.box:hover {
    border-radius: blue;
    outline-style: solid;
    outline-color: blue;
}
.box-second:hover {
    border-radius: blue;
    outline-style: solid;
    outline-color: blue;
}
.box-third:hover {
    border-radius: blue;
    outline-style: solid;
    outline-color: blue;
}
.box-fourth:hover {
    border-radius: blue;
    outline-style: solid;
    outline-color: blue;
}
/* .symbol{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    bottom: 146px;
    left: 105px;
} */

.symbol-second{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    left: 123px;
    bottom: 298px;
    /* overflow: visible; */
}
.img-logo{
    width: 50px;
    height: 50px;
}
.logo{ 
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    left: 57px;
    bottom: 193px;  
}
.logo-second{
    width: 50px;
    height: 50px;
    position: relative;
    left: 122px;
    bottom: 246px;
    /* overflow: visible; */
}

.logo-third{
    width: 50px;
    height: 50px;
    position: relative;
    left: 187px;
    bottom: 293px;;
    /* overflow: visible; */
}
.logo-fourth{
    width: 50px;
    height: 50px;
    position: relative;
    left: 97px;
    bottom: 238px;
}
.logo-fifth{
    width: 50px;
    height: 50px;
    position: relative;
    left: 155px;
    bottom: 286px;
}

.logo-sixth{
    width: 50px;
    height: 50px;
    position: relative;
    left: 91px;
    bottom: 241px;
}
.logo-seventh{
    width: 50px;
    height: 50px;
    position: relative;
    left: 155px;
    bottom: 290px;
}
